@import 'tailwindcss';



@theme{
    --color-silver : #F5F7FA 
    
}

@theme{
    --color-grayHead : #4D4D4D
}

@theme{
    --color-grayPara : #717171
}

@theme{
    --color-grayClientBG : #18191F
}
